{{!--
This header template is shared across all the pages.
--}}

{{#if background}}
<header class="m-header with-picture js-header">
  {{else}}
  <header class="m-header js-header">
    {{/if}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143383720-2"></script>
    {{!-- Cookie consent --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#008736"
          },
          "button": {
            "background": "#f1d600"
          }
        },
        "theme": "edgeless",
        "position": "bottom-right",
        "type": "opt-in",
        "content": {
          "message": "Ta spletna stran uporablja piškotke za interno analitiko.",
          "deny": "odkloni",
          "allow": "Se strinjam",
          "link": "Več o tem",
          "href": "https://www.karfjolca.si/zasebnost"
        },
        // Handle cookie rejection
        onInitialise: function (status) {
          var didConsent = this.hasConsented();
          if (didConsent) {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-149255108-1');
          }
          else {
            window.dataLayer = window.dataLayer || [];
            window['ga-disable-UA-149255108-1'] = true;
          }
        },
        onStatusChange: function (status, chosenBefore) {
          var didConsent = this.hasConsented();
          if (didConsent) {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-149255108-1');
          }
          else {
            window.dataLayer = window.dataLayer || [];
            window['ga-disable-UA-149255108-1'] = true;
          }
        },
        onRevokeChoice: function () {
            window.dataLayer = window.dataLayer || [];
            window['ga-disable-UA-149255108-1'] = true;
        }
      });
    </script>

  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="Open menu">
      <span class="icon-menu"></span>
    </button>
    {{#if @site.logo}}
      <a href="{{@site.url}}" class="m-logo in-mobile-topbar">
        <img src="{{@site.logo}}" alt="{{@site.title}}">
      </a>
    {{/if}}
    <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="Open search">
      <span class="icon-search"></span>
    </button>
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="Close menu">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav">
          <nav class="m-nav__left">
            {{#if @site.navigation}}
              {{navigation}}
            {{/if}}
          </nav>
          <button class="m-icon-button in-menu-main js-open-search" aria-label="Open search">
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
