{{!--
This template is used for the post page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Everything inside the #post tags pulls data from the post --}}
  {{#post}}
  {{!--Special header.hbs partial to generate the <header> tag--}}
  {{> header background=feature_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=feature_image}}
  </header>
  {{/post}}
  
  <main>
    <article>
      <div class="l-content">
        {{!-- Everything inside the #post tags pulls data from the post --}}
        {{#post}}
        <div class="l-wrapper in-post js-aos-wrapper" data-aos="fade-up" data-aos-delay="300">
          {{#if @labs.subscribers}}
          <div class="l-post-content has-subscribe-form js-progress-content">
            {{else}}
            <div class="l-post-content js-progress-content">
              {{/if}}
              <header class="m-heading">
                <h1 class="m-heading__title in-post">{{title}}</h1>
                <div class="m-heading__meta">
                  <p>
                    {{#if primary_tag}}
                    <span class="m-heading__meta__divider">&bull;</span>
                    {{#foreach tags}}
                    <a href="{{url}}" class="m-heading__meta__tag">{{name}}</a>

                    <span class="m-heading__meta__divider">&bull;</span>
                    {{/foreach}}
                    {{/if}}
                  </p>
                </div>
                <div class="m-heading__meta">
                  <a href="{{url}}amp" class="m-heading__meta__time" target="_blank" rel="noopener" aria-label="Print">
                    <img src="{{asset "images/printer.png"}}" style="margin-bottom: 0px" width="18" alt="Print"/>
                  </a>
                  <span class="m-heading__meta__divider">&bull;</span>
                <span class="m-heading__meta__time">{{date published_at}}</span>
              </div>
            </header>
            <div class="pos-relative js-post-content">
              <div class="m-share">
                <div class="m-share__content js-sticky">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Facebook">
                    <span class="icon-facebook"></span>
                  </a>
                  <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}" class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Twitter">
                    <span class="icon-twitter"></span>
                  </a>
									<a href="https://www.instagram.com/karfjolca.si/" class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31" height="31" style="margin: -11 -12 0 0" viewBox="0 0 792 792" version="1.1">
                    <defs>
                    <clipPath id="clip1">
                      <path d="M 0 288.160156 L 503.839844 288.160156 L 503.839844 792 L 0 792 Z M 0 288.160156 "/>
                    </clipPath>
                    </defs>
                    <g id="surface1">
                    <g clip-path="url(#clip1)" clip-rule="nonzero">
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(6.266785%,5.734253%,5.047607%);fill-opacity:1;" d="M 251.921875 288.160156 C 183.503906 288.160156 174.925781 288.449219 148.054688 289.675781 C 121.238281 290.898438 102.925781 295.15625 86.902344 301.382812 C 70.335938 307.820312 56.289062 316.4375 42.28125 330.441406 C 28.277344 344.445312 19.664062 358.496094 13.226562 375.0625 C 7 391.085938 2.738281 409.398438 1.515625 436.214844 C 0.289062 463.082031 0 471.660156 0 540.078125 C 0 608.496094 0.289062 617.074219 1.515625 643.945312 C 2.738281 670.761719 7 689.074219 13.226562 705.097656 C 19.664062 721.664062 28.277344 735.710938 42.28125 749.71875 C 56.289062 763.722656 70.335938 772.335938 86.902344 778.773438 C 102.925781 785 121.238281 789.261719 148.054688 790.484375 C 174.925781 791.710938 183.503906 792 251.921875 792 C 320.339844 792 328.917969 791.710938 355.785156 790.484375 C 382.601562 789.261719 400.914062 785 416.9375 778.773438 C 433.503906 772.335938 447.554688 763.722656 461.558594 749.71875 C 475.5625 735.710938 484.179688 721.664062 490.617188 705.097656 C 496.84375 689.074219 501.101562 670.761719 502.324219 643.945312 C 503.550781 617.074219 503.839844 608.496094 503.839844 540.078125 C 503.839844 471.660156 503.550781 463.082031 502.324219 436.214844 C 501.101562 409.398438 496.84375 391.085938 490.617188 375.0625 C 484.179688 358.496094 475.5625 344.445312 461.558594 330.441406 C 447.554688 316.4375 433.503906 307.820312 416.9375 301.382812 C 400.914062 295.15625 382.601562 290.898438 355.785156 289.675781 C 328.917969 288.449219 320.339844 288.160156 251.921875 288.160156 Z M 251.921875 333.550781 C 319.1875 333.550781 327.152344 333.808594 353.71875 335.019531 C 378.28125 336.140625 391.617188 340.242188 400.496094 343.691406 C 412.253906 348.261719 420.648438 353.722656 429.460938 362.535156 C 438.277344 371.351562 443.738281 379.746094 448.308594 391.503906 C 451.757812 400.382812 455.859375 413.71875 456.980469 438.28125 C 458.191406 464.847656 458.449219 472.8125 458.449219 540.078125 C 458.449219 607.34375 458.191406 615.3125 456.980469 641.878906 C 455.859375 666.4375 451.757812 679.777344 448.308594 688.65625 C 443.738281 700.414062 438.277344 708.804688 429.460938 717.621094 C 420.648438 726.4375 412.253906 731.894531 400.496094 736.464844 C 391.617188 739.914062 378.28125 744.019531 353.71875 745.140625 C 327.15625 746.351562 319.191406 746.609375 251.921875 746.609375 C 184.648438 746.609375 176.683594 746.351562 150.121094 745.140625 C 125.5625 744.019531 112.222656 739.914062 103.34375 736.464844 C 91.585938 731.894531 83.195312 726.4375 74.378906 717.621094 C 65.5625 708.804688 60.105469 700.414062 55.535156 688.65625 C 52.085938 679.777344 47.980469 666.4375 46.859375 641.878906 C 45.648438 615.3125 45.390625 607.34375 45.390625 540.078125 C 45.390625 472.8125 45.648438 464.847656 46.859375 438.28125 C 47.980469 413.71875 52.085938 400.382812 55.535156 391.503906 C 60.105469 379.746094 65.5625 371.351562 74.378906 362.539062 C 83.195312 353.722656 91.585938 348.261719 103.34375 343.691406 C 112.222656 340.242188 125.5625 336.140625 150.121094 335.019531 C 176.6875 333.808594 184.65625 333.550781 251.921875 333.550781 "/>
                    </g>
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(6.266785%,5.734253%,5.047607%);fill-opacity:1;" d="M 251.921875 624.054688 C 205.542969 624.054688 167.945312 586.457031 167.945312 540.078125 C 167.945312 493.703125 205.542969 456.105469 251.921875 456.105469 C 298.296875 456.105469 335.894531 493.703125 335.894531 540.078125 C 335.894531 586.457031 298.296875 624.054688 251.921875 624.054688 Z M 251.921875 410.714844 C 180.472656 410.714844 122.554688 468.632812 122.554688 540.078125 C 122.554688 611.527344 180.472656 669.445312 251.921875 669.445312 C 323.367188 669.445312 381.285156 611.527344 381.285156 540.078125 C 381.285156 468.632812 323.367188 410.714844 251.921875 410.714844 "/>
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(6.266785%,5.734253%,5.047607%);fill-opacity:1;" d="M 416.628906 405.605469 C 416.628906 422.300781 403.09375 435.835938 386.394531 435.835938 C 369.699219 435.835938 356.164062 422.300781 356.164062 405.605469 C 356.164062 388.90625 369.699219 375.371094 386.394531 375.371094 C 403.09375 375.371094 416.628906 388.90625 416.628906 405.605469 "/>
                    </g>
                    </svg>
									</a>
                  <button class="m-icon-button filled in-share progress js-scrolltop" aria-label="Scroll to top">
                    <span class="icon-arrow-top"></span>
                    <svg>
                      <circle class="progress-ring__circle js-progress" stroke="#04aeee" fill="transparent" r="0" />
                    </svg>
                  </button>
                </div>
              </div>
              {{content}}
            </div>
          </div>
        </div>
        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <section class="m-subscribe-section">
          <div class="l-wrapper in-post">
            <div class="m-subscribe-section__content">
              <div class="m-subscribe-section__text">
                <h4 class="m-subscribe-section__title">{{t "Subscribe to our newsletter"}}</h4>
                <p class="m-subscribe-section__description">
                  {{t "Get the latest posts delivered right to your inbox."}}
                </p>
              </div>
              <div class="m-subscribe-section__form">
                {{subscribe_form
                        form_id="subscribe-form"
                        form_class="m-subscribe-section__form"
                        input_id="subscribe_input"
                        input_class="m-input in-subscribe-section"
                        button_id="subscribe_button"
                        button_class="m-button primary block"
                        placeholder=(t "Your email address")
                      }}
              </div>
            </div>
          </div>
        </section>
        {{/if}}
        {{#if @labs.subscribers}}
        <section class="m-author">
        {{else}}
        <section class="m-author no-subscribers">
        {{/if}}
          <div class="m-author__content">
            <div class="m-author__picture">
              <a href="{{primary_author.url}}" class="m-author-picture" aria-label="Author picture">
                {{#if primary_author.profile_image}}
                <div style="background-image: url({{primary_author.profile_image}});"></div>
                {{else}}
                <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                {{/if}}
              </a>
            </div>
            <div class="m-author__info">
              <h4 class="m-author__name">
                <a href="{{primary_author.url}}">{{primary_author.name}}</a>
              </h4>
              {{#has author="count:>1"}}
              <p class="m-small-text in-author-along-with">
                {{authors separator=", " prefix=(t "Among with no break line") from="2"}}
              </p>
              {{/has}}
              {{#if primary_author.bio}}
              <p class="m-author__bio">{{primary_author.bio}}</p>
              {{/if}}
              <ul class="m-author-links">
                {{#if primary_author.website}}
                <li>
                  <a href="{{primary_author.website}}" target="_blank" rel="noopener" aria-label="Website">
                    <span class="icon-globe"></span>
                  </a>
                </li>
                {{/if}}
                {{#if primary_author.facebook}}
                <li>
                  <a href="https://facebook.com/{{primary_author.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
                    <span class="icon-facebook"></span>
                  </a>
                </li>
                {{/if}}
                {{#if primary_author.twitter}}
                <li>
                  <a href="https://twitter.com/{{primary_author.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
                    <span class="icon-twitter"></span>
                  </a>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </section>
        {{!-- If you want to embed comments, this is a good place to do it! --}}
        {{!--
          <section class="m-comments">
            <div class="m-load-comments">
              <div class="m-load-comments__line"></div>
              <button class="m-icon-button filled as-load-comments js-tooltip js-load-comments" data-tippy-content="Load comments">
                <span class="icon-comments"></span>
              </button>
            </div>
            <div class="m-load-comments__iframe l-wrapper in-comments js-comments-iframe">
              <div id="disqus_thread"></div>
              <script>
                var disqus_config = function () {
                  this.page.url = "{{url absolute="true"}}";
                  this.page.identifier = "ghost-{{comment_id}}"
                };
                (function () {
                  var d = document, s = d.createElement('script');
                  s.src = 'https://CHANGETHIS.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
            </div>
          </section>
          --}}
        {{/post}}
        {{!-- Related posts --}}
        {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}}
        <section class="m-recommended">
          <div class="l-wrapper in-recommended">
            <h3 class="m-section-title in-recommended">{{t "Recommended for you"}}</h3>
            <div class="m-recommended-articles">
              <div class="m-recommended-slider js-recommended-articles">
                {{!-- The tag below iterates over all the related posts --}}
                {{> "loop"}}
              </div>
            </div>
          </div>
        </section>
        {{/get}}
      </div>
    </article>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
{{/contentFor}}
